.card {
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 6px;
    text-align: center;
    background-color: white;
    visibility: visible;
    animation: fadeInUp 1s ease-in-out forwards;
}

.title {
    font-size: 1rem;
    color: #666666;
    line-height: 1.3;
    font-weight: 600;
}

.cardImage {
    margin-bottom: 15px;
}


@media (max-width: 768px) {
    .cardImage{
        width: 45%;
    }

    .title{
        font-size: 0.75rem;
    }
    .card {
        padding: 15px;
        border: 1px solid lightgray;
        border-radius: 6px;
        text-align: center;
        background-color: white;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}